// blog-comments

.utterances {
  max-width: 100%;
}

// container

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

// layout

.layout--content {
  padding-top: 50px;
  padding-bottom: 50px;
}

// navbar

.ant-drawer-header-title {
  flex-direction: row-reverse;
}

.ant-drawer-close {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.navbar--topBar {
  border-bottom: 0 !important;
}

.navbar--topBarLink {
  float: right;
}

.navbar--sideBarLink {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.navbar--navBar {
  margin-top: 20px;
}

.navbar--divider {
  margin-top: 10px;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .navbar--divider {
    margin-top: 0px;
  }
}

// 404

._404--title {
  margin-bottom: 0 !important;
  font-size: 80px !important;
}

// about

.about--resumeButtonContainer {
  margin-bottom: 40px;
  margin-top: 20px;
}

.about--authorName {
  margin-bottom: 0 !important;
}

.about--socialLink {
  font-size: 50px;
}

// contact

.ant-form-item-explain-error {
  font-size: 14px;
}

.contact--input {
  margin-bottom: 10px;
}

.contact--button {
  margin-top: 20px;
}

// education

.education--description {
  color: #333;
}

// experience

.experience--description {
  color: #333;
}
.experience--description p {
  margin-bottom: 0;
}

// blogs

.blogs--input {
  margin-bottom: 20px;
}

.blogs--blogTitle {
  font-weight: normal;
}

.blogs--blogDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  font-size: 14px;
}

.ant-badge-count {
  background-color: #1b8ffc;
  border-radius: 3px;
}

// blog

.blog--title {
  margin-bottom: 20px !important;
}

.blog--markdown h1, .blog--markdown h3 {
  font-weight: bold !important;
}

.blog--markdown h1 {
  margin-top: 30px !important;
}

.blog--markdown summary {
  cursor: pointer;
}

.blog--markdown th {
  text-align: left;
}

.blog--markdown th,
.blog--markdown td {
  border: 1px solid black !important;
  padding: 4px 16px 4px 8px !important;
}

.blog--markdown .table-wrapper {
  width: 100%;
  overflow-x: auto !important;
  margin-bottom: 20px;
}

.blog--markdown table {
  white-space: nowrap;
  width: 100%;
}

.blog--divider {
  display: flex;
  justify-content: space-between;
}

.blog--left {
  float: left;
  width: 47%;
}

.blog--right {
  float: right;
  width: 47%;
}

.ant-anchor-link-title {
  font-size: 14px;
}

.ant-empty-description {
  text-indent: -9999px;
  line-height: 0;
}

.ant-empty-description::after {
  content: "No Matching Blogs Found";
  text-indent: 0;
  display: block;
  line-height: initial;
}

// projects

.projects--projectTitle {
  font-weight: bold;
}

.projects--projectDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  font-size: 14px;
}

// remember this changes other modals as well
.ant-modal-title {
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 5px;
}

.ant-modal-body {
  padding-bottom: 0;
}

video {
  width: 100%;
}